@model Alumno;


<h1>@ViewBag.Titulo</h1>

@using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(alumno => alumno.Legajo)
            @Html.TextBoxFor(alumno => alumno.Legajo, new { @class="form-control", @readonly="readonly"})
        </div>
        <div class="form-group">
            @Html.LabelFor(alumno => alumno.Nombre)
            @Html.TextBoxFor(alumno => alumno.Nombre, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(alumno => alumno.Apellido)
            @Html.TextBoxFor(alumno => alumno.Apellido, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(alumno => alumno.Dni)
            @Html.TextBoxFor(alumno => alumno.Dni, new { @class = "form-control" })
        </div>
        <input type="submit" class="btn btn-primary" value="Guardar"/>
    }
    
<h3>@ViewBag.Mensaje</h3>
<h3>@ViewData["Mensaje2"]</h3>