@using clase01.Models;
@model List<Alumno>




<div class="text-center">
    <div class="d-flex justify-content-between mb-4">
        <h3>Listado de alumnos</h3>
        @Html.ActionLink("CrearNuevo", "Crear",null,null, new { @class = "btn btn-primary "})
    </div>

    <table class="table table-dark">
        <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
        </tr>

        @foreach (var alu in Model)
        {
            <tr>
                <td>@alu.Legajo</td>
                <td>@alu.Nombre</td>
                <td>@alu.Apellido</td>
                <td>@alu.Dni</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { legajo = alu.Legajo })
                </td>
            </tr>
        }
    </table>

</div>