@{
    var actualController = ViewContext.RouteData.Values["controller"].ToString();
 }

<div class="sidebar" data-color="viajeSeguro">

    <div class="logo">
        <a href="/" class="simple-text justify-content-center">
            <img src='@Url.Content("~/images/ViajaSeguroLogo.png")'
                 alt="Viaja Seguro logo" class="px-2">
        </a>
    </div>

    <div class="sidebar-wrapper ps ps--active-x ps--active-y" id="sidebar-wrapper">
        <ul class="nav" id='sidebar-wrapper_ul'>
            @if (actualController == "Home")
            {
                <li class="active">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="now-ui-icons business_chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="now-ui-icons business_chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
            }
            @if (actualController == "Reservas")
            {
                <li class="active">
                    <a href="@Url.Action("Index", "Reservas")">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                        <p>Reservas</p>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Index", "Reservas")">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                        <p>Reservas</p>
                    </a>
                </li>
            }


            <li>
                <a data-toggle="collapse" href="#configurationDrop">
                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                    <p>
                        Configuración
                        <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse" id="configurationDrop">
                    <ul class="nav">
                        <li>
                            <a>
                                <i class="now-ui-icons design_image"></i>
                                <span class="sidebar-normal">Imagenes de planes</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="now-ui-icons location_compass-05"></i>
                                <span class="sidebar-normal">Destinos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a>
                    <i class="now-ui-icons arrows-1_minimal-left"></i>
                    <p>Salir</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- END: Side Menu -->

@functions
{
    
}
